
body {
	font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #fff;
	font-weight: 300;
	overflow-x: hidden;
}
h3{
	padding: 5px;
}
h2{
	border: #81c784 solid 2px;
	width: 100%;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	padding: 5px;
}
a{
	color: #81c784;
}
a:hover{
	color: #81c784
}
#MapForSoils {
	margin-top: 50px;
	height: 500px;
	width: 800px;
}
#pac-input {
	margin-top: 10px;
	height: 30px;
	width: 300px;
	font-size: 16px;
}

/*Navbar */

.navbar {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 10px 80px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;	
	transition: background-color 300ms linear;

}
.navbar.scrolled{
	color: #fff;
	background-color: #222222 !important;
	transition: background-color 300ms linear;
}
.navbar a {
	color: #fff;
}
.nav-link:hover{
	color:#81c784;
}
/*Navbar - end*/

/*Starting page*/
.mask {
	z-index: 10;
}
.starting-page {
	width: 100vw;
	height: 100vh;
	background: url(../src/soilBG.jpg) no-repeat;
	background-size: cover;
}
.starting-page-content {
	flex-direction: column;
}
.starting-page-content-header {
	font-size: 50px;
}
.starting-page-content-btn {
	padding: 10px;
	margin-top: 20%;
	bottom: 0;
	font-weight: 500;
}
/*Starting page - end*/

/*Map page*/

.green-text{
	color: #81c784;
}
.btn{
	background-color: #81c784 !important;
	border-color: #81c784;
	box-shadow: 0 1px 0 1px rgba(1, 1, 1, .07);

}
.black{
	background-color: #222222 !important;
	color:#fff;
	font-weight: 700;
	border-color: #81c784;


}
.black:hover{
	background-color: #363636;
	color:#fff;
}
.black:focus{
	background-color: #746f6f;
	color:#fff;
}
.map-page {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	background-color: #f5f5f5;
}
.map-page-crops-header{
	margin-top: 50px;
}
.crops-5-row {
	margin-top: 10px;
}
.dropDownList {
	width: 23%;
	margin: 10px 0;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: 3px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/**/

/**/
.soil-info{
	background-color: #fafafa;
	padding-bottom: 50px;
}
.soil-info-output{
	margin: 20px 0 20px 0;
}
.soil-info-row {
	flex-direction: column;
}
.soil-info-btn{
	margin-top: 20px;
}
.fert-table-page-row{
	display: flex;
	flex-direction: column;
}
#crops-table-page-btn{
	margin-bottom: 20px;
}
#cropsTable ,#fertTable{
	font-size: 30px !important;
	margin: 20px;
	color: #222222;
}
#cropsTable,#fertTable th, td {	
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
  }
  th {
	background-color: #222222;
	color: white;
  }
  tr:hover {background-color: #f5f5f5;}
  tr:nth-child(even) {background-color: #f2f2f2;}
  
/**/
footer{
	background-color: #222222;
	padding-top: 25px;
}